<article [class.saved]="saved">
    <header>
        <span>{{componentWeek.year}}</span>
        <h2>Vecka {{componentWeek.weekNo}}</h2>
    </header>
  <button class="button-17" (click)="removeWeek()">Ta bort vecka</button>
    <section>
        <app-day *ngFor="let day of componentWeek.days" [inputDay]="day" (dayUpdated)="updateWeek()"></app-day>
    </section>
    <div *ngIf="sum">Summa: {{sum.hours}}h {{sum.minutes}}m</div>
    <div>Flex: {{calculateFlex() | number: '1.0-2'}}</div>
</article>
